<h1>Sign Up Form</h1>
<br>
<br>

<%= @signup_error %>  

<p>Please sign up with a username, email address, and password.</p> 


<form action="/signup" method="post">

    Username: <input type="text" name="username" placeholder="Username">
    Email: <input type="text" name="email" placeholder="email">
    Password: <input type="password" name="password" placeholder="password">
    
    <input type="submit" value="submit">

</form>