<% if logged_in? %>
<%= @error %>
        <h2>New Project</h2>

        <p>Project Information:<p>

        <form action='/projects' method="post">   
            Project Name: <input type="text" name="project_name"><br>
            <br>
            Project Status: <input type="text" name="project_status">
            <br>
            <br>           
            Create New Project: <input type="submit" value="submit">  
        </form>

  <% else %>
      <h1> You Must Be Logged in to Create Projects </h1>
  <% end %>