<div class="container">
  <header><h2>Sinatra Content Management Application</h2></header>
  <div class="col-md-8 col-md-offset-2">
    
    <h3>Project Tracker!</h3>
    <br> 

    <div class="content">
    
      <p>New users: <a href='/signup'>Sign Up</a></p>      
      <p>Existing users: <a href='/login'>Log In</a></p>             

    </div>  

    <div class="sidebar">
    
    <p>Project Tracker 3.0</p> 
      
    </div>

  </div>
</div>
