<div class="container">
  <header><h2>PRB Project Tracker</h2></header>
  <div class="col-md-8 col-md-offset-2">
    
    <p>Welcome to Pacific Rim Builders Project Tracking App!</p>
    <p>If you are a new PRB Project Manager, please sign up for access below.</p>
    <p>If you are an existing PRB Project Manager, please log in below.</p> 
    <br> 

    <div class="content">
    
      <p>New users: <a href='/signup'>Sign Up</a></p>      
      <p>Existing users: <a href='/login'>Log In</a></p>             

    </div>  

    <div class="sidebar">
    
    <p>Project Tracker</p>
    <p>Project Management System for Project Managers to track their projects.</p>  
      
    </div>

  </div>
</div>
